/*This portion of CSS code is for custom fonts.*/
@font-face {
  src: url(../fonts/helvetica-lt-55-roman.ttf);
  font-family: helv-r;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url(../fonts/mrseavesroman.ttf);
  font-family: eaves-r;
}
/*End of the custom font's CSS code.*/

/*This portion of CSS code is for styling the navigation bar in the header.*/
.menu-wrap {
  display:none;
}

.nav {
  /*grid-area: header;*/
}

/* Style the top navigation bar */
.nav {
  top:0;
  position: fixed; /*Helps keep the navigation bar fixed throughout */
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* This helps creat the shadow effects on the navigation bar. */
  -webkit-box-shadow: 0px 2px 4px #828282;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px #828282;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px #828282;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* Style the topnav links */
.nav a {
  float: right;
  display: block;
  color: #303036;
  text-align: center;
  font-family:helv-r;
  font-size: 16px;/*16px;*/
  padding: 14px 16px;
  text-decoration: none;
  /*text-transform: uppercase;*/
}

/* Change color on hover */
.nav a:hover {
  color: #67BDE0;
}

.nav .button{
  margin-top:5px;
  margin-left:30px;
  padding-left:24px;
  padding-right:24px;
  float: right;
  width:160;
  height:31.5px;
  display: inline-block;
  line-height:4px;
  text-align: center;
  background-color: #1C1C1E;
  font-family: helv-r;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F5F5F5;
}

.nav .button:hover {
  background-color: #67BDE0; /*Dark Sky Blue*/
  color: #303036; /*Jet Black*/
}

.logo {
  float: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.logo img{
  height:45px;
}

.logo a{
  font-family: times;
  font-weight: bold;
  font-size: 18px;/*20px;*/
  color: #565661; /*Davys Grey*/
  text-transform: uppercase;
}

/* Change color on hover */
.logo a:hover {
  color: #565661; /*Davys Grey*/
}

ion-icon {
  font-size: 32px;
}
/*End of the navigation bar's CSS code.*/

/*This portion of CSS code is for styling the hero's content section.*/
.hero{
  grid-area: hero;
}
.hero {
  margin-top: 13em;
  margin-bottom: 13em;
  margin-left: 12%;
  width: 70%;
  /*background-color: lightblue;*/ /*For debugging layout*/
  justify-content: middle;
  align-items: middle;
}
@media all and (max-width: 888px)
{
  .hero {
    margin-top: 11em;
  }
}
.hero {
  display:block;
  color: #303036; /*Jet Black*/
  /*background-color: lightgrey;*/
  justify-content: center;
  align-items: center;
}
.hero h1{
  margin:0px;
  padding:0px;
  width:100%;
  text-align:left;
  /*background-color: lightblue;*/
  font-family:helv-r;
  font-size: 39.06px;
  font-weight:bold;
}
.hero p{
  margin:0px;
  padding-top:15px;
  padding-bottom:15px;
  width:78%;
  text-align:left;
  /*background-color: lightblue;*/
  font-family:eaves-r;
  font-size: 25px;
}
.action {
}
.hero .button{
  margin:0px;
  padding:0px;
  width:175px;
  height:50px;
  display: inline-block;
  line-height:50px;
  text-align: center;
  background-color: #1C1C1E; /*Eerie Black*/
  font-family: helv-r;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #F5F5F5; /*Cultured White*/
}
/*End of hero's CSS code.*/

/*This portion of CSS code is for styling the about section's content.*/
.about {
  grid-area: about;
}
.about {
  margin-top: 12%;
  margin-bottom: 12%;
  margin-left: 12%;
  /*margin-right: 7.32%;*/
  width: 65%;
  /*background-color: lightgreen;*/ /*For debugging layout*/
  justify-content: middle;
  align-items: middle;
}
.about a {
  color: #67BDE0;
}
.about .text {
  color: #303036; /*Jet Black*/
}
.about h1 {
  font-family:helv-r;
  font-size: 25px;
  font-weight:bold;
  margin:0;
  padding:0;
}
.about p {
  margin:0;
  padding:0;
  padding-top:15px;
  padding-bottom:15px;
  font-family:eaves-r;
  margin-right: 16.98%;
  font-size: 20px;
  font-weight: 500;
}
.about .button{
  width:250px;
  height:50px;
  display: inline-block;
  line-height:50px;
  text-align: center;
  background-color: #1C1C1E;
  font-family: helv-r;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #F5F5F5;
}
/* Style :target with margin & transition. The 's' can be changed to */
/* whatever works (I used it here to represent 'sections'). Adjust */
/* transition speed to .001s for instantaneous. */
.about:target {
  margin-top:-145px;
  padding-top:145px;
}
@media all and (max-width: 1160px)
{
  .about:target {
    margin-top:-110px;
    padding-top:110px;
  }
}
@media all and (max-width: 886px)
{
  .about:target {
    margin-top:-80px;
    padding-top:80px;
  }
}
/* Add 'Currently Reading' to targeted section (optional) */
.about:target:before {
  background-clip:padding-box;
  padding:0 5px;
  position:absolute;
  /*top:24px;*/
}

/*End of the about section's CSS code.*/

/*This portion of CSS code is for styling the about pages's content.*/
.my-img {
  grid-area: img;
}
.my-img {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}
.my-img {
  display: grid;
  color: #303036; /*Jet Black*/
  /*background-color: darkgrey;*/
  justify-content: center;
  align-items: center;
}
.my-img img {
  width: 400px;
  height: 564.0978px;
}

.about-me {
  grid-area: content;
}
.about-me {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  /*margin-bottom: 100px;*/
  width:650px;
  color: #303036; /*Jet Black*/
}
.about-me a {
  color: #67BDE0;
}
.about-me .title {
  font-family:helv-r;
  font-size: 25px;
  font-weight:bold;
}
.about-me .body {
  font-family:eaves-r;
  font-size: 20px;
  font-weight: 500;
}
/*End of the about page's CSS code.*/

/*This portion of CSS code is for styling the work section's content.*/
.work {
  grid-area: work;
}
.work {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 12%;
  width: 70%;
  /*background-color: lightgrey;*/
  justify-content: middle;
  align-items: middle;
}
.work a {
  color: #67BDE0;
}
.work .text {
  color: #303036; /*Jet Black*/
}
.work h1 {
  font-family:helv-r;
  font-size: 25px;
  font-weight:bold;
  margin:0;
  padding: 0;
}
.work p {
  margin:0;
  padding: 0;
  margin-right: 20%;
  font-family:eaves-r;
  font-size: 20px;
  font-weight: 500;
}
.work p{
  padding-top: 15px;
  padding-bottom: 30px;
}
/* Style :target with margin & transition. The 's' can be changed to */
/* whatever works (I used it here to represent 'sections'). Adjust */
/* transition speed to .001s for instantaneous. */
.work:target {
  margin-top: -145px;
  padding-top: 145px;
}
@media all and (max-width: 1160px)
{
  .work:target {
    margin-top:-110px;
    padding-top:110px;
  }
}
/* Add 'Currently Reading' to targeted section (optional) */
.work:target:before {
  background-clip:padding-box;
  padding:0 5px;
  position:absolute;
  top:0px;
}
/*End of the work section's CSS code.*/

/*This portion of CSS code is for styling the simulation content.*/
canvas {
  z-index:-3;
}
canvas{
    position: fixed;
    top: 0px;
    right: 0px;
    width:50%;
    height: 100%;
    background: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/*End of simulation's CSS code.*/

/*This portion of CSS code is for styling the contact page's content*/
.intro {
  margin-top: 120px;
  margin-left: 7.32%;
  margin-right: 7.32%;
  margin-bottom: 4.78%;
  /*background-color: lightgrey;*/
  justify-content: middle;
  align-items: middle;
}
.intro a{
  color: #67BDE0;
}
.intro .title {
  font-family:helv-r;
  font-size: 25px;
  font-weight:bold;
  color: #303036; /*Jet Black*/
}
.intro p {
  font-family:eaves-r;
  font-size: 20px;
  font-weight: 500;
  color: #303036; /*Jet Black*/
  width:99%;
}
.faqs {
  z-index:-3;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  /*background-color: lightgrey;*/
  justify-content: middle;
  align-items: middle;
}
.faqs .link{
  color: #67BDE0;
}
.faqs .title {
  font-family:helv-r;
  font-size: 25px;
  font-weight:bold;
  color: #303036; /*Jet Black*/
}
.faqs .accordian {
  margin-top:15px;
  /*padding: 10px;*/
  /*border: 1px solid #A9A9B2;
  border-width: 3px;
  border-color: #A9A9B2;*/
}
.accordian-item {
  padding: 0px;
  border-top: 1px solid #A9A9B2;
  border-left: 1px solid #A9A9B2;
  border-right: 1px solid #A9A9B2;
}
.final-accordian-item {
  padding: 0px;
  border: 1px solid #A9A9B2;
}
.accordian-link {
  z-index:-3;
  padding:10px;
  color: #303036; /*Jet Black*/
  font-family:helv-r;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.accordian-link .arrow-up {
  z-index:-3;
  display: none;
}
/*.answer {
  font-family:eaves-r;
  color: #303036; /*Jet Black*/
/*  font-size: 20px;
  font-weight: 500;
}*/
.answer {
  z-index:-3;
  padding-left:10px;
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 700ms;
}
.answer::before {
  content: "";
  position: absolute;

  width: 0.6rem;
  height: 90%;
  top: 50%;
  left:0;
  transform: translateY(-50%);

}
.answer p {
  font-family:eaves-r;
  margin-bottom:15px;
  font-size: 20px;
  font-weight: 500;
  color: #303036; /*Jet Black*/
}
.accordian-item:target .answer {
  max-height:80rem;
}
.final-accordian-item:target .answer {
  max-height:80rem;
}
.accordian-item:target .accordian-link .arrow-down {
  z-index:-3;
  display: none;
}
.accordian-item:target .accordian-link .arrow-up {
  z-index:-3;
  display: block;
}
.email {
  grid-area: email;
}
.email {
  margin-top:60px;
  margin-left:-200px;
}
/*End of the contact page's CSS code.*/

/*This portion of CSS code is for styling the footer section's content.*/
.footer {
  grid-area: footer;
}
/*End of the work section's CSS code.*/

/*This portion of CSS code is for styling the about me page grid container.*/
.about-grid {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'img img img content content content'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
}
/*End of about me page grid container's CSS code.*/

/*This portion of CSS code is for styling the contact page grid container.*/
/*End of contact page grid container's CSS code.*/

/* Misc. CSS code used in several parts of the website, such as buttons, */
/* dynamic color changes based on scroll position, etc. */

/*Adding "scroll-behavior: smooth;" to the <html> element enables smooth */
/* scrolling for the whole html page. */
/* Note: it is also possible to add it to a specific element/scroll container. */
html {
  scroll-behavior: smooth;
}

/* This helps take away the margin that exists around the site's entire layout*/
body {
  margin: 0;
  padding: 0;
}

/* The CSS box-sizing property allows us to include the padding and */
/* border in an element's total width and height.*/
* {
  box-sizing: border-box;
}

/* Change's a button's background and text colors on hover */
/* The same color transitions remain the same through all button'supports */
/* on this website. */
.button:hover {
  background-color: #67BDE0; /*Dark Sky Blue*/
  color: #303036; /*Jet Black*/
}

/* This is for styling the strokeStyle color used in the javascript code. */
/* This helps make the color more dynamic. */
/*.strokeStyle{
  color: rgba(48, 48, 54, 0.05);
}*/

/*Experimental CSS code*/

/* Style :target with margin & transition. The 's' can be changed to whatever works (I used it here to represent 'sections'). Adjust transition speed to .001s for instantaneous. */
.xtarget:target
{
  margin-top:-12px;
  padding-top:60px;
}

/* Add 'Currently Reading' to targeted section (optional) */
.xtarget:target:before
{
  content:'Currently Reading';
  background-clip:padding-box;
  padding:0 5px;
  position:absolute;
  top:24px;
}
