/*Adding "scroll-behavior: smooth;" to the <html> element enables smooth */
/* scrolling for the whole html page. */
/* Note: it is also possible to add it to a specific element/scroll container. */
html {
  scroll-behavior: smooth;
}

/* This helps take away the padding that exists around the site's entire layout*/
* {
  padding: 0;
  margin: 0;
}

/* The CSS box-sizing property allows us to include the padding and */
/* border in an element's total width and height.*/
* {
  box-sizing: border-box;
}

/* {
  border: 1px solid #f00 !important; /*For debugging purposes.*/
}*/

/*This portion of CSS code is for custom fonts.*/
@font-face {
  src: url(../fonts/helvetica-lt-55-roman.ttf);
  font-family: helv-r;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url(../fonts/mrseavesroman.ttf);
  font-family: eaves-r;
}
/*End of the custom font's CSS code.*/

ion-icon {
  font-size: 32px;
}

/*This portion of CSS code is for styling the contact page grid container.*/
/*End of contact page grid container's CSS code.*/

/* Misc. CSS code used in several parts of the website, such as buttons, */
/* dynamic color changes based on scroll position, etc. */

/* Change's a button's background and text colors on hover */
/* The same color transitions remain the same through all button'supports */
/* on this website. */
.about .button:hover {
  background-color: #67BDE0; /*Dark Sky Blue*/
  color: #303036; /*Jet Black*/
}
.hero .button:hover {
  background-color: #67BDE0; /*Dark Sky Blue*/
  color: #303036; /*Jet Black*/
}

/* This is for styling the strokeStyle color used in the javascript code. */
/* This helps make the color more dynamic. */
/*.strokeStyle{
  color: rgba(48, 48, 54, 0.05);
}*/

/*Experimental CSS code*/

/* Style :target with padding & transition. The 's' can be changed to whatever works (I used it here to represent 'sections'). Adjust transition speed to .001s for instantaneous. */
.xtarget:target
{
  padding-top:-12px;
  padding-top:60px;
}

/* Add 'Currently Reading' to targeted section (optional) */
.xtarget:target:before
{
  content:'Currently Reading';
  background-clip:padding-box;
  padding:0 5px;
  position:absolute;
  top:24px;
}
