/*This portion of CSS code is for custom fonts.*/
@font-face {
  src: url(../fonts/helvetica-lt-55-roman.ttf);
  font-family: helv-r;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url(../fonts/mrseavesroman.ttf);
  font-family: eaves-r;
}
/*End of the custom font's CSS code.*/

/*This portion of CSS code is for styling the work section's content.*/
.work {
  z-index:-1;
  padding:0px;
  padding-left: 30px;
  padding-right:30px;
  width: 100%;
  /*background-color: lightblue;*/
}
.work a {
  color: #67BDE0;
}
.work .text {
  width:100%;
  color: #303036; /*Jet Black*/
}
.work h1 {
  width:100%;
  font-family:helv-r;
  font-size: 25px;
  font-weight:bold;
}
.work p {
  padding-top: 15px;
  padding-bottom: 30px;
  font-family:eaves-r;
  font-size: 20px;
  font-weight: 500;
}
.work br {
  padding:0px;
  padding:0px;
}
/* Style :target with padding & transition. The 's' can be changed to */
/* whatever works (I used it here to represent 'sections'). Adjust */
/* transition speed to .001s for instantaneous. */
.work:target
{
  padding-top:-25vh;
  padding-top:25vh;
}

/* Add 'Currently Reading' to targeted section (optional) */
.work:target:before {
  background-clip:padding-box;
  padding:0 5px;
  position:absolute;
}
/*End of the work section's CSS code.*/

@media all and (min-width: 662px)
{
  /*This portion of CSS code is for styling the work section's content.*/
  .work {
    grid-area: work;
  }
  .work {
    padding-left: 12%;
    width: 70%;
    /*background-color: lightgrey;*/
    justify-content: middle;
    align-items: middle;
  }
  .work a {
    color: #67BDE0;
  }
  .work .text {
    color: #303036; /*Jet Black*/
  }
  .work h1 {
    font-family:helv-r;
    font-size: 25px;
    font-weight:bold;
    padding:0;
    padding: 0;
  }
  .work p {
    padding:0;
    padding: 0;
    padding-right: 20%;
    font-family:eaves-r;
    font-size: 20px;
    font-weight: 500;
  }
  .work p{
    padding-top: 15px;
    padding-bottom: 30px;
  }
  /* Style :target with padding & transition. The 's' can be changed to */
  /* whatever works (I used it here to represent 'sections'). Adjust */
  /* transition speed to .001s for instantaneous. */
  .work:target {
    padding-top: -22vh;
    padding-top: 22vh;
  }
}

@media all and (min-width: 700px)
{
  .work:target {
    padding-top: -25vh;
    padding-top: 25vh;
  }
}

@media all and (min-height: 400px)
{
  .work:target {
    padding-top: -23vh;
    padding-top: 23vh;
  }
}
@media all and (min-height: 500px)
{
  .work:target {
    padding-top: -19vh;
    padding-top: 19vh;
  }
  @media all and (min-width: 1700px)
  {
    .work:target {
      padding-top: -20vh;
      padding-top: 20vh;
    }
  }
  @media all and (min-width: 1899px)
  {
    .work:target {
      padding-top: -23vh;
      padding-top: 23vh;
    }
  }
}
@media all and (min-height: 600px)
{
  .work:target {
    padding-top: -16vh;
    padding-top: 16vh;
  }
  @media all and (min-width: 600px)
  {
    .work:target {
      padding-top: -19vh;
      padding-top: 19vh;
    }
  }
  @media all and (min-width: 1300px)
  {
    .work:target {
      padding-top: -20vh;
      padding-top: 20vh;
    }
  }
  @media all and (min-width: 1400px)
  {
    .work:target {
      padding-top: -24vh;
      padding-top: 24vh;
    }
  }
  @media all and (min-width: 1700px)
  {
    .work:target {
      padding-top: -25.5vh;
      padding-top: 25.5vh;
    }
  }
}
@media all and (min-height: 700px)
{
  .work:target {
    padding-top: -14vh;
    padding-top: 14vh;
  }
  @media all and (min-width: 437px)
  {
    .work:target {
      padding-top: -20vh;
      padding-top: 20vh;
    }
  }
  @media all and (min-width: 600px)
  {
    .work:target {
      padding-top: -24vh;
      padding-top: 24vh;
    }
  }
  @media all and (min-width: 662px)
  {
    .work:target {
      padding-top: -15vh;
      padding-top: 15vh;
    }
  }
  @media all and (min-width: 900px)
  {
    .work:target {
      padding-top: -17vh;
      padding-top: 17vh;
    }
  }
  @media all and (min-width: 993px)
  {
    .work:target {
      padding-top: -22vh;
      padding-top: 22vh;
    }
  }
  @media all and (min-width: 1400px)
  {
    .work:target {
      padding-top: -20vh;
      padding-top: 20vh;
    }
  }
}
@media all and (min-height: 800px)
{
  .work:target {
    padding-top: -12vh;
    padding-top: 12vh;
  }
  @media all and (min-width: 400px)
  {
    .work:target {
      padding-top: -16vh;
      padding-top: 16vh;
    }
  }
  @media all and (min-width: 800px)
  {
    .work:target {
      padding-top: -20vh;
      padding-top: 20vh;
    }
  }
}
@media all and (min-height: 900px)
{
  .work:target {
    padding-top: -11vh;
    padding-top: 11vh;
  }
  @media all and (min-width: 662px)
  {
    .work:target {
      padding-top: -16vh;
      padding-top: 16vh;
    }
  }
  @media all and (min-width: 1000px)
  {
    .work {
      padding-bottom: 5vh;
    }
  }
  @media all and (min-width: 1400px)
  {
    .work {
      padding-bottom: 10vh;
    }
  }
}
@media all and (min-height: 1000px)
{
  .work:target {
    padding-top: -13vh;
    padding-top: 13vh;
  }
  @media all and (min-width: 400px)
  {
    .work {
      padding-bottom: 3vh;
    }
  }
  @media all and (min-width: 500px)
  {
    .work {
      padding-bottom: 8vh;
    }
  }
  @media all and (min-width: 600px)
  {
    .work {
      padding-bottom: 10vh;
    }
  }
  @media all and (min-width: 662px)
  {
    .work:target {
      padding-top: -19vh;
      padding-top: 19vh;
    }
  }
  @media all and (min-width: 800px)
  {
    .work:target {
      padding-top: -25vh;
      padding-top: 25vh;
    }
  }
  @media all and (min-width: 900px)
  {
    .work:target {
      padding-top: -28vh;
      padding-top: 28vh;
    }
  }
  @media all and (min-width: 1000px)
  {
    .work {
      padding-bottom: 8vh;
    }
  }
  @media all and (min-width: 1200px)
  {
    .work {
      padding-bottom: 12vh;
    }
  }
  @media all and (min-width: 1400px)
  {
    .work {
      padding-bottom: 14vh;
    }
  }
}
