@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body{
  margin: 0;
  background-color: white;
  font-family: "Open Sans";
}
h1{
  color: black;
  text-align: center;
  font-size: 20px;
}
canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40;
    margin: auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
head{
  background: #555
}
